html {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background: #f2f6fc;
}

/** Body Styles & Vars */
body {
  margin: 0px;
  --white: #fffffe;
  --black: #272343;
  --light-black: #2d334a;
  --blue: #3da9fc;
  --green: #e3f6f5;
  --dark-green: #bae8e8;
  --red: #f45d48;
  --grey: #eae8e5;
  --yellow: #ffd803;
  --theme-border-radius: 4px;
  color: var(--black);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
*,
::before,
::after {
  box-sizing: border-box;
}

h1 {
  font-size: clamp(2.7rem, 5vw, 4.2rem);
  line-height: 1.3;
}
h3 {
  margin: 0;
}

p,
li {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

.flow > * + * {
  margin-top: 1em;
}

input,
textarea,
select {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 1.1em;
  width: 100%;
}

label {
  margin-bottom: 5px;
  display: block;
}

@media (min-width: 640px) {
  p {
    font-size: 1.125rem;
    line-height: 1.7777778;
  }
}

/** Wrappers **/
.wrapper {
  margin-inline: auto;
  width: clamp(16rem, 95vw, 85rem);
  padding-inline: clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
  position: relative;
}

/* Alignments */
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.all-center > * {
  text-align: center;
  margin-inline: auto;
}
.flow > * + * {
  margin-top: 1em;
}

/** Buttons & Links **/
a {
  color: var(--black);
}
a:hover {
  text-decoration: none;
}
.button {
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  line-height: 1 !important;
  font-weight: 500;
  transition: all 200ms linear;
}

.button[data-type='primary'] {
  border: 1px solid var(--black);
  background: var(--black);
  color: #fff;
  padding: 1.4em 2.7em;
}
.button[data-type='primary']:not(:disabled):hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1), 0px 8px 8px 1px rgba(0, 0, 0, 0.07), 0px 3px 8px 2px rgba(0, 0, 0, 0.08);
}
.button[data-type='secondary'] {
  border: 1px solid var(--blue);
  background: #fff;
  color: var(--blue);
  padding: 0.7em 1.35em;
}
.button[data-type='secondary']:not(:disabled):hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1), 0px 8px 8px 1px rgba(0, 0, 0, 0.07), 0px 3px 8px 2px rgba(0, 0, 0, 0.08);
}
.button:disabled {
  opacity: 0.7;
}
